{% extends 'base.html' %}
{% block title %}Blog Entries{% endblock %}
{% block content %}
    {% if is_authenticated %}
    <a href="/edit" class="add-new-entry-btn">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Create New Entry
        </button>
    </a>
    {% endif %}
    <div class="mb-2"></div>
    <div class="grid grid-cols-1 gap-4">

        <!-- Loop through editor contents -->
        {% for entry in editor_contents %}
        <div class="bg-white p-4 shadow-md">
            <div class="entry-content" style="height: auto;">
                {{ entry.content|quill_delta_to_html|safe }}
            </div>
            {% if is_authenticated %}
            <div class="flex justify-end mt-2">
                <a href="/edit/{{ entry.author_id }}/{{ entry.content_id }}">
                    <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        Edit
                    </button>
                </a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <!-- Removed QuillJS initialization script -->
{% endblock %}